<%- include header %>
<ul>
  <li><a href="http://nodejs.org/">node.js</a></li>
  <li><a href="http://expressjs.com/">Express</a></li>
  <li><a href="http://www.mongodb.org/">MongoDB</a></li>
</ul>
<%- include footer %>