<br />
<div>
  <% if (!isFirstPage) { %>
    <span class="prepage"><a title="Previews" href="?p=<%= page-1 %>">Previews</a></span>
  <% } %>

  <% if (!isLastPage) { %>
    <span class="nextpage"><a title="Next" href="?p=<%= page+1 %>">Next</a></span>
  <% } %>
</div>