<%- include header %>
<form class="form-horizontal" role="form" method="post">
  <div class="form-group">
    <label for="name" class="col-lg-2 control-label">Username</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" name="name" id="name" placeholder="Enter username" required>
    </div>
    <h6><span class="label label-info">* required</span></h6>
  </div>
  <div class="form-group">
    <label for="password" class="col-lg-2 control-label">Password</label>
    <div class="col-lg-6">
      <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required>
    </div>
    <h6><span class="label label-info">* 6 to 20 characters required</span></h6>
  </div>
  <div class="form-group">
    <label for="password-repeat" class="col-lg-2 control-label">Password Repeat</label>
    <div class="col-lg-6">
      <input type="password" class="form-control" name="password-repeat" id="password-repeat" placeholder="Enter password" required>
    </div>
    <h6><span class="label label-info">* 6 to 20 characters required</span></h6>
  </div>
  <div class="form-group">
    <label for="password" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-6">
      <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" required>
    </div>
    <h6><span class="label label-info">* required</span></h6>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-6">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
<%- include footer %>